.footer {
  padding: 15px 0;
  width: 980px;
  margin: 0 auto;
  a {
    color: #8a8d91;
    text-decoration: none;
    font-size: 12px;
    padding-right: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: #737373;
    font-size: 11px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1075px) {
  .footer {
    margin: 0 40px;
  }
}
