.navbar-component.navbar.navbar-expand-md.navbar-dark.bg-dark {
  background-color: #26413c !important;
  height: 56px;
}
#submit__button {
  font-size: 16px;
  height: 40px;
  // width: 120px;
  // margin-top: 10px;
  font-weight: 600;
  background-color: #26413c;
  color: #e7e7e7;
  border: #e7e7e7 2px solid;
  outline: none;
  box-shadow: none;
  &:hover {
    background-color: #e7e7e7;
    color: #26413c;
    // border: #26413c 1px solid;
  }
  &:active {
    border: #c0bebe 2px solid;
    background-color: #c0bebe;
    transition: all 0.3s ease;
  }
}

.user-icon {
  color: #e7e7e7;
}

.display-username {
  margin: 0 13px 0 6px;
  font-size: 18px;
  color: #e7e7e7;
}
