@import url("http://fonts.cdnfonts.com/css/klavika-medium");

.introduction {
  margin-right: 40px;
  .logo {
    font-family: "klavika medium";
    font-size: 65px;
    font-weight: 400;
    color: #1877f2;
  }

  .title {
    font-size: 28px;
  }
}
